


<div class="container">

  <h2>Movies</h2>

  <form class="thing-form">
    <div class="input-group">
      <label >Movie Name</label>
      <input type="text" class="form-control"  placeholder="Enter email" ng-model="$ctrl.mname">
    </div>
    <div class="input-group">
      <label >Description</label>
      <input type="text" class="form-control"  placeholder="Enter password" ng-model="$ctrl.mdesc">
    </div>
    <div class="input-group">
      <label >Time</label>
      <input type="text" class="form-control" placeholder="Enter password" ng-model="$ctrl.mtime">
    </div>

    <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
  </form>
<br>
<br>


<div class="row">
  <div class="col-lg-12">
    <h1>Show Movies</h1>
  <table class="table">

      <tr>
        <th>Movie Name</th>
        <th>Description</th>
        <th>Time</th>
        <th>Photo</th>

      </tr>
----
    <tbody>
      <tr ng-repeat="thing in $ctrl.awesomeThings" >
        <td>{{thing.name}}</td>
        <td>{{thing.description}}</td>
        <td>{{thing.time}}</td>
        <td><img src ="assets/images/{{thing.name}}.jpg"</td>

        <td><button type="submit" class="btn btn-primary" ng-click="$ctrl.deleteThing(thing)">Delete</button>
        </td>

        <td>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.editThing(thing)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>





          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>
                 Movie Name
                </th>
                <th>
                  Movie Cast
                </th>
                <th>Movie Genere
                </th>
              </tr>
            </thead>
            <tbody>
            <form>
                <tr ng-repeat="thing1 in $ctrl.awesomeThings" id="{{thing1.name}}">
                    <td>
                     <input  type="text"  ng-model="thing1.name"/>
                    </td>
                    <td>
                      <input  type="text" disabled="flase" ng-model="thing1.description"/>

                    </td>
                    <td>
                      <input  type="text" disabled="flase" ng-model="thing1.time"/>
                    </td>
                    <td>
                      <button type="button" class="close" ng-click="$ctrl.deleteThing(thing1)">Delete</button>
                    </td>
                   <td>
                      <button type="button" class="close" ng-click="$ctrl.editThing(thing1)">Edit</button>
                      </td>
                      <td>
                      <button type="button" class="close" ng-click="$ctrl.updateThing(thing1)">Update</button>
                    </td>
                  </tr>
              </form>
            </tbody>
          </table>










</div>
</div>
</div>
